#####
# OS X temporary files that should never be committed
 
.DS_Store
*.swp
*.lock
profile

#####
# Node.js binaries and npm-installed modules that should never be committed

.bin/
expect.js/
mocha/
node_modules/